<div class="row ">
				<div class=" list-group col-md-12 col-lg-12" >
			  				
			  					<div  class=" list-group-item shadow">
			  						<div class="row vertical-align">
			  							<div class=" col-lg-1 col-md-1">
			  								<img src="http://placehold.it/40x40" id="profileimage" alt="Responsive image">
			  							</div>
			  							<div class="col-lg-4 col-md-4">
			  								<div class="row ">

			  									<div class="col-lg-12 pull-left" style="margin-left:0;padding-left:0;">
			  										<span style="margin-right:10px;">Complete The task</span>
													<label class="label label-default" style="margin-left:0;">KDDI</label>
			  									</div>
												<!-- <div class="col-lg-4 pull-left" style="margin-left:0;padding-left:0;"> -->
													
												<!-- </div> -->
											</div>	
												<div class=" row text-muted"><small> by Santosh</small></div>
			  							</div>
			  							<div class="col-lg-6 col-md-6 mycontent-right " style="text-align:right">
			  								<div class="row progress no-gutters rounded-icon" data-toggle="tooltip" data-placement="top" title="70% completed" tooltip> 
			  								
 												<div class="progress-bar"style="width:70%">
    											</div> 
											</div>
											<!-- </div> -->
											<span class="fa fa-bookmark  text-danger pull-right rounded-icon" style="font-size:20px;"></span>
			  							</div>
			  							<div class="col-lg-2 col-md-2" style="text-align:left">
			  								
											<!-- <button type="button " class="btn btn-xs btn-success pull-right">
  													Open&nbsp;<span class="fa fa-play"></span>
											</button> -->
			  								<button type="button" class="btn btn-success btn-sm" ng-click="showView()"><i class="fa fa-play"></i>&nbsp;View</button> 
			  								
			  								<!-- <span class="fa fa-chevron-right pull-right text-success" style="font-size:30px"></span> -->
			  							</div>
			  						<!-- <span class="label label-default label-pill pull-right">14</span> -->
			  						</div>
			  					</div>
			  				
			  
			 		  <!-- Add drop down menu -->
					 	
						  
			  					<div  class=" list-group-item shadow">
			  						<div class="row vertical-align">
			  							<div class=" col-lg-1">
			  								<img src="http://placehold.it/40x40" id="profileimage" alt="Responsive image">
			  							</div>
			  							<div class="col-lg-4">
			  								<div class="row ">

			  									<div class="col-lg-12 pull-left" style="margin-left:0;padding-left:0;">
			  										<span style="margin-right:10px;">Think about the design</span>
													<label class="label label-default" style="margin-left:0;">Motorola</label>
			  									</div>
												<!-- <div class="col-lg-4 pull-left" style="margin-left:0;padding-left:0;"> -->
													
												<!-- </div> -->
											</div>	
												<div class=" row text-muted"><small> by Santosh</small></div>
			  							</div>
			  							<div class="col-lg-6 mycontent-right " style="text-align:right">
			  								<div class="row progress no-gutters rounded-icon"> 
			  								
 												<div class="progress-bar "style="width:10% ;background-color: orange !important">
    											</div> 
											</div>
											<!-- </div> -->
											<span class="fa fa-bookmark  text-info pull-right rounded-icon" style="font-size:20px;"></span>
			  							</div>
			  							<div class="col-lg-2" style="text-align:left">
			  								
											<!-- <button type="button " class="btn btn-xs btn-success pull-right">
  													Open&nbsp;<span class="fa fa-play"></span>
											</button> -->
			  								<button type="button" class="btn btn-success btn-sm" ng-click="showView()"><i class="fa fa-play"></i>&nbsp;View</button> 
			  								
			  								<!-- <span class="fa fa-chevron-right pull-right text-success" style="font-size:30px"></span> -->
			  							</div>
			  						<!-- <span class="label label-default label-pill pull-right">14</span> -->
			  						</div>
			  					</div>
								<div  class=" list-group-item shadow">
			  						<div class="row vertical-align">
			  							<div class=" col-lg-1">
			  								<img src="http://placehold.it/40x40" id="profileimage" alt="Responsive image">
			  							</div>
			  							<div class="col-lg-4">
			  								<div class="row ">

			  									<div class="col-lg-12 pull-left" style="margin-left:0;padding-left:0;">
			  										<span style="margin-right:10px;">Complete The task</span>
													<label class="label label-default" style="margin-left:0;">KDDI</label>
			  									</div>
												<!-- <div class="col-lg-4 pull-left" style="margin-left:0;padding-left:0;"> -->
													
												<!-- </div> -->
											</div>	
												<div class=" row text-muted"><small> by Santosh</small></div>
			  							</div>
			  							<div class="col-lg-6 mycontent-right " style="text-align:right">
			  								<div class="row progress no-gutters rounded-icon"> 
			  								
 												<div class="progress-bar"style="width:70%">
    											</div> 
											</div>
											<!-- </div> -->
											<span class="fa fa-bookmark  text-warning pull-right rounded-icon" style="font-size:20px;"></span>
			  							</div>
			  							<div class="col-lg-2" style="text-align:left">
			  								
											<!-- <button type="button " class="btn btn-xs btn-success pull-right">
  													Open&nbsp;<span class="fa fa-play"></span>
											</button> -->
			  								<button type="button" class="btn btn-success btn-sm" ng-click="showView()"><i class="fa fa-play"></i>&nbsp;View</button> 
			  								
			  								<!-- <span class="fa fa-chevron-right pull-right text-success" style="font-size:30px"></span> -->
			  							</div>
			  						<!-- <span class="label label-default label-pill pull-right">14</span> -->
			  						</div>
			  					</div>
			  				
			  				
					</div>
			</div>